{% macro render_field(field) %}
    <div class="form-floating">
        <!-- <input type="email" class="form-control" id="{{ field.id }}" placeholder="name@example.com"> -->
        {{ field(class_ = "form-control", **kwargs)|safe }}
        <label for="{{ field.id }}">{{ field.label }} 
            <span class="text-primary">{% if field.flags.required %} * {% endif %}</span>
        </label>
        {% if field.errors %}
        {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
        {% endif %}
    </div>
{% endmacro %}