<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">
            <span>
                <i class="fas fa-unlock-alt"></i>
                <i class="fas fa-key" style="margin-left: -5px; font-size: small;"></i>
            </span>
            PwdMgr
        </h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <div style="margin-right: 1rem;">
                <p class="fw-bold py-1 px-0">Welcome, 
                    {% if user %}
                        {{ user.username }}
                    {% else %}
                        Guest User
                    {% endif %}
                    |
                </p>
            </div>
    
            <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{{ url_for('home') }}">Home</a>
            {% if user %}
                <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('login') }}">Login</a>
                <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('signup') }}">Signup</a>
            {% endif %}
        </nav>
    </div>
</header>