{% extends '_base.html' %}
{% from './macros/forms.html' import render_field %}

{% block pagetitle %}
Create Password
{% endblock %}

{% block customcss %}
<style>
    .form-container {
        max-width: 640px;
        padding: 15px;
    }

    .form-container .form-floating:focus-within {
        z-index: 2;
    }

    .form-container input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-container textarea {
        width: 100%;
        min-height: 200px;
    }

    .form-container input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container text-center my-3" style="background: lightsteelblue; border-radius: 10px;">
    <main class="form-container w-100 m-auto">
        <form id="form-createpass">
            {{ render_field(form.csrf_token) }}
            <div class="mb-4">
                <span>
                    <i class="fas fa-unlock-alt fa-2x"></i>
                    <i class="fas fa-key" style="margin-left: -5px; font-size: small;"></i>
                </span>
            </div>
            <h1 class="h4 mb-3 fw-normal">Create new password</h1>

            <div class="row">
                <div class="col-md-6">
                    {{ render_field(form.pwdname) }}
                </div>
                <div class="col-md-6">
                    {{ render_field(form.pwdtype) }}
                </div>
            </div>
            {{ render_field(form.description) }}
            <div class="row my-3">
                <div class="col-md-10">
                    {{ render_field(form.sensitiveinfo) }}
                </div>
                <div class="col-md-2">
                    <button class="btn btn-warning ml-1" id="beautify-button">Beautify</button>
                    <p class="text-danger" id="beautify-error"></p>
                </div>
            </div>

            {{ render_field(form.masterpwd) }}

            <button class="w-100 btn btn-lg btn-primary" type="submit" id="form-createpass-submit">Add new password</button>
        </form>
    </main>
</div>
{% endblock %}

{% block customjs %}
<script>
    $(document).ready(() => {
        let formfields = {};
        $('#form-createpass').find('.form-control').each((i, elem) => {
            formfields[elem.id] = {
                input: document.getElementById(elem.id),
                error: document.getElementById(elem.id + "-error")
            }
        });

        $('#beautify-button').click(function(e) {
            e.preventDefault();
            try {
                $('#beautify-error').html("");
                var info = $('#sensitiveinfo').val();
                $('#sensitiveinfo').val(JSON.stringify(JSON.parse(info), null, "\t"));
            } catch (err) {
                $('#beautify-error').html(String(err));
            }
        });

        // select the signup form
        $('#form-createpass-submit').click(async function(e) {
            e.preventDefault();

            // clear up the form
            Object.keys(formfields).forEach((key) => {
                formfields[key].input.classList.remove('is-invalid');
                if (formfields[key].error) {
                    formfields[key].error.innerHTML = "";
                }
            });

            let body = JSON.stringify(Object.fromEntries(Object.entries(formfields).map(([k, v]) => {
                return [k, v.input.value]
            })));
            try {
                const response = await fetch("{{ url_for('add_password') }}", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body
                });
                const responsedata = await response.json();

                // check based on response.status
                switch(response.status) {
                    case 200:
                        $.confirm({
                            title: 'Password created!',
                            content: 'Your password is encrypted and save successfully.',
                            type: 'green',
                            buttons: {
                                OK: function () {
                                    window.location.replace("{{ url_for('dashboard') }}");
                                }
                            }
                        });                                
                        break;
                    case 400:
                        Object.keys(responsedata.errors).forEach((key) => {
                            formfields[key].input.classList.add('is-invalid');
                            if (formfields[key].error) {
                                formfields[key].error.innerHTML = responsedata.errors[key][0];
                            }
                        });
                        break;
                    default:
                        $.alert({
                            title: 'Encountered an error!',
                            content: String(responsedata.errors),
                            type: 'red',
                            typeAnimated: true,
                        });
                        break;
                }
            } catch (err) {
                $.alert({
                    title: 'Encountered an error!',
                    content: `Server side error :: ${String(err)}, please contact support.`,
                    type: 'red',
                    typeAnimated: true,
                });
            }
        });
    });
</script>
{% endblock %}