{% extends '_base.html' %}
{% from './macros/forms.html' import render_field %}

{% block pagetitle %}
Dashboard
{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<style>
    .description-col {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .password-view-area {
        height: 200px;
        overflow: scroll;
    }
    
</style>
{% endblock %}

{% block content %}
<div class="container py-3 my-3">
    <h1 class = "h4">You are logged in as {{ user.username }}</h1>
    <p class="lead">Here is the list of your passwords.</p>
    <div class="w-100">
        <div class="d-flex flex-row-reverse mb-3">
            <a href="{{ url_for('add_password') }}" class="btn btn-success">
                <i class="fa fa-solid fa-plus"></i> Add new password
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="password-list">
                <thead>
                    <tr>
                        <th scope="col">Serial</th>
                        <th scope="col">Name</th>
                        <th scope="col">Group</th>
                        <th scope="col" class="description-col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pwd in pwdlist %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ pwd.name }}</td>
                            <td>{{ pwd.type }}</td>
                            <td class="description-col">{{ pwd.description }}</td>
                            <td class="d-flex justify-content-around">
                                <button class="btn btn-primary mx-1 password-view-modal-btn" data-id-value="{{ pwd.id }}" data-bs-toggle="modal"><i class="fa fa-solid fa-eye"></i></button>
                                <button class="btn btn-warning mx-1 edit-password-btn" data-id-value="{{ pwd.id }}" data-name-value="{{ pwd.name }}"><i class="fa fa-solid fa-pen"></i></button>
                                <button class="btn btn-danger mx-1 password-delete-modal-btn" id-value="{{ pwd.id }}" data-bs-toggle="modal"><i class="fa fa-solid fa-trash"></i></button>                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>    

        <!-- Modal View -->
        <div class="modal hide fade" id="password-view-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="password-view-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content border text-dark">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="password-view-label">View password</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="lead">Please enter your master password to view.</p>
                        <form id="form-password-view">
                            {{ render_field(viewform.csrf_token) }}
                            {{ render_field(viewform.viewpwdid) }}
                            {{ render_field(viewform.viewmasterpwd) }}
                            <button class="btn btn-primary" type="submit" id="form-password-view-submit">View Password Details</button>
                        </form>
                        <textarea class="my-2 password-view-area border rounded form-control" readonly disabled>
                        </textarea>                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Delete -->
        <div class="modal hide fade" id="password-delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="password-delete-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content border text-dark">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="password-delete-label">Delete password</h1>
                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="lead text-danger">Please enter your master password to confirm delete.</p>
                        <form id="form-password-delete">
                            {{ render_field(delform.csrf_token) }}
                            {{ render_field(delform.delpwdid) }}
                            {{ render_field(delform.delmasterpwd) }}
                            <button class="btn btn-danger" type="submit" id="form-password-delete-submit">Delete Password</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(() => {
        // view model form elements
        let viewformfields = {};
        $('#form-password-view').find('.form-control').each((i, elem) => {
            viewformfields[elem.id] = {
                input: document.getElementById(elem.id),
                error: document.getElementById(elem.id + "-error")
            }
        });

        let delformfields = {};
        $('#form-password-delete').find('.form-control').each((i, elem) => {
            delformfields[elem.id] = {
                input: document.getElementById(elem.id),
                error: document.getElementById(elem.id + "-error")
            }
        });


        $('#password-list').dataTable({
            "columns": [
                null,
                null,
                null,
                {"width": "40%"},
                null
            ]
        });

        $('.edit-password-btn').click(function(e) {
            e.preventDefault();
            var pwdid = $(this).attr('data-id-value');
            var pwdname = $(this).attr('data-name-value');

            $.confirm({
                title: 'Edit Password',
                content: `Do you want to edit password '${pwdname}'?`,
                type: 'orange',
                buttons: {
                    Yes: function() {
                        window.location.replace("{{ url_for('edit_password') }}?id=" + pwdid);
                    },
                    No: function() {
                    }
                }
            });
        });

        $('.password-view-modal-btn').click(function (e) {
            e.preventDefault();
            var pwdid = $(this).attr('data-id-value');
            console.log(pwdid);
            $('#viewpwdid').val(pwdid);
            $('#password-view-modal').modal('show');

            $('#form-password-view-submit').click(function(e2) {
                e2.preventDefault();

                // clear up the form
                Object.keys(viewformfields).forEach((key) => {
                    viewformfields[key].input.classList.remove('is-invalid');
                    if (viewformfields[key].error) {
                        viewformfields[key].error.innerHTML = "";
                    }
                });

                let viewbody = JSON.stringify(Object.fromEntries(Object.entries(viewformfields).map(([k, v]) => {
                    return [k, v.input.value]
                })));

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('view_password') }}",
                    contentType: "application/json",
                    dataType: "json",
                    data: viewbody,
                    success: function(responsedata) {
                        console.log(responsedata.data);
                        $('.password-view-area').val(JSON.stringify(responsedata.data, null, "\t"));
                    },
                    error: function(err) {

                        const responsedata = err.responseJSON;
                        switch(err.status) {
                            case 400:
                                Object.keys(responsedata.errors).forEach((key) => {
                                    viewformfields[key].input.classList.add('is-invalid');
                                    if (viewformfields[key].error) {
                                        viewformfields[key].error.innerHTML = responsedata.errors[key][0];
                                    }
                                });
                                break;
                            default:
                                $.alert({
                                    title: 'Encountered an error!',
                                    content: JSON.stringify(responsedata.errors ?? responsedata),
                                    type: 'red',
                                    typeAnimated: true,
                                });
                                break;
                        }
                    }
                });
            });

        });

        $('.password-delete-modal-btn').click(function (e) {
            e.preventDefault();
            var pwdid = $(this).attr('id-value');
            $('#delpwdid').val(pwdid);
            $('#password-delete-modal').modal('show');

            $('#form-password-delete-submit').click(async function(e2) {
                e2.preventDefault();

                // clear up the form
                Object.keys(delformfields).forEach((key) => {
                    delformfields[key].input.classList.remove('is-invalid');
                    if (delformfields[key].error) {
                        delformfields[key].error.innerHTML = "";
                    }
                });

                let delbody = JSON.stringify(Object.fromEntries(Object.entries(delformfields).map(([k, v]) => {
                    return [k, v.input.value]
                })));

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('delete_password') }}",
                    contentType: "application/json",
                    dataType: "json",
                    data: delbody,
                    success: function(responsedata) {
                        console.log(responsedata.data);
                        $.alert({
                            title: 'Password Deleted',
                            content: `Password '${responsedata.data.name}' deleted successfully`,
                            type: 'orange',
                            typeAnimated: true,
                            buttons: {
                                Ok: function() {
                                    window.location.replace("{{ url_for('dashboard') }}")
                                }
                            }
                        });
                    },
                    error: function(err) {
                        console.log(err);
                        console.log(delformfields);
                        const responsedata = err.responseJSON;
                        switch(err.status) {
                            case 400:
                                Object.keys(responsedata.errors).forEach((key) => {
                                    delformfields[key].input.classList.add('is-invalid');
                                    if (delformfields[key].error) {
                                        delformfields[key].error.innerHTML = responsedata.errors[key][0];
                                    }
                                });
                                break;
                            default:
                                $.alert({
                                    title: 'Encountered an error!',
                                    content: JSON.stringify(responsedata.errors ?? responsedata),
                                    type: 'red',
                                    typeAnimated: true,
                                });
                                break;
                        }
                    }
                });
            });
            
        });


    });
</script>
{% endblock %}