{% extends '_base.html' %}
{% from './macros/forms.html' import render_field %}

{% block pagetitle %}
Edit Password
{% endblock %}

{% block customcss %}
<style>
    .form-container {
        max-width: 640px;
        padding: 15px;
    }

    .form-container .form-floating:focus-within {
        z-index: 2;
    }

    .form-container input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-container textarea {
        width: 100%;
        min-height: 200px;
    }

    .form-container input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container text-center my-3" style="background: lightsteelblue; border-radius: 10px;">
    <main class="form-container w-100 m-auto">
        <form id="form-editpass">
            {{ render_field(form.csrf_token) }}
            {{ render_field(form.pwdid) }}
            <div class="mb-4">
                <span>
                    <i class="fas fa-unlock-alt fa-2x"></i>
                    <i class="fas fa-key" style="margin-left: -5px; font-size: small;"></i>
                </span>
            </div>
            <h1 class="h4 mb-3 fw-normal">Edit password</h1>

            <div class="row">
                <div class="col-md-6">
                    {{ render_field(form.pwdname) }}
                </div>
                <div class="col-md-6">
                    {{ render_field(form.pwdtype) }}
                </div>
            </div>
            {{ render_field(form.description) }}
            {{ render_field(form.masterpwd) }}

            <button class="w-100 btn btn-lg btn-primary" type="submit" id="form-editpass-submit">Update password</button>
        </form>
    </main>
</div>
{% endblock %}

{% block customjs %}
<script>
    $(document).ready(() => {
        let formfields = {};
        $('#form-editpass').find('.form-control').each((i, elem) => {
            formfields[elem.id] = {
                input: document.getElementById(elem.id),
                error: document.getElementById(elem.id + "-error")
            }
        });


        // select the signup form
        $('#form-editpass-submit').click(async function(e) {
            e.preventDefault();

            // clear up the form
            Object.keys(formfields).forEach((key) => {
                formfields[key].input.classList.remove('is-invalid');
                if (formfields[key].error) {
                    formfields[key].error.innerHTML = "";
                }
            });

            let body = JSON.stringify(Object.fromEntries(Object.entries(formfields).map(([k, v]) => {
                return [k, v.input.value]
            })));
            try {
                const response = await fetch("{{ url_for('edit_password') }}", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body
                });
                const responsedata = await response.json();

                // check based on response.status
                switch(response.status) {
                    case 200:
                        $.confirm({
                            title: 'Password edited!',
                            content: 'Your password is encrypted and saved successfully.',
                            type: 'green',
                            buttons: {
                                OK: function () {
                                    window.location.replace("{{ url_for('dashboard') }}");
                                }
                            }
                        });                                
                        break;
                    case 400:
                        Object.keys(responsedata.errors).forEach((key) => {
                            formfields[key].input.classList.add('is-invalid');
                            if (formfields[key].error) {
                                formfields[key].error.innerHTML = responsedata.errors[key][0];
                            }
                        });
                        break;
                    default:
                        $.alert({
                            title: 'Encountered an error!',
                            content: String(responsedata.errors),
                            type: 'red',
                            typeAnimated: true,
                        });
                        break;
                }
            } catch (err) {
                $.alert({
                    title: 'Encountered an error!',
                    content: `Server side error :: ${String(err)}, please contact support.`,
                    type: 'red',
                    typeAnimated: true,
                });
            }
        });
    
        // fetch the form data
        $('.password-fetch-modal-btn').click(function (e) {
            e.preventDefault();
            var pwdid = $(this).attr('id-value');
            $('#viewpwdid').val(pwdid);
            $('#password-fetch-modal').modal('show');

            $('#form-password-fetch-submit').click(async function(e2) {
                e2.preventDefault();

                // clear up the form
                Object.keys(fetchformfields).forEach((key) => {
                    fetchformfields[key].input.classList.remove('is-invalid');
                    if (fetchformfields[key].error) {
                        fetchformfields[key].error.innerHTML = "";
                    }
                });

                let fetchbody = JSON.stringify(Object.fromEntries(Object.entries(fetchformfields).map(([k, v]) => {
                    return [k, v.input.value]
                })));

                try {
                    const response = await fetch("{{ url_for('view_password') }}", {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        fetchbody
                    });
                    const responsedata = await response.json();

                    // check based on response.status
                    switch(response.status) {
                        case 200:
                            $('#sensitiveinfo').val(JSON.stringify(responsedata.data, null, "\t"));
                            $('#password-fetch-modal').modal('hide');
                            break;
                        case 400:
                            Object.keys(responsedata.errors).forEach((key) => {
                                fetchformfields[key].input.classList.add('is-invalid');
                                if (fetchformfields[key].error) {
                                    fetchformfields[key].error.innerHTML = responsedata.errors[key][0];
                                }
                            });
                            break;
                        default:
                            $.alert({
                                title: 'Encountered an error!',
                                content: String(responsedata.errors),
                                type: 'red',
                                typeAnimated: true,
                            });
                            break;
                    }
                } catch (err) {
                    $.alert({
                        title: 'Encountered an error!',
                        content: `Server side error :: ${String(err)}, please contact support.`,
                        type: 'red',
                        typeAnimated: true,
                    });
                }


            });

        });

    });
</script>
{% endblock %}