{% extends '_base.html' %}
{% block pagetitle %}
    A lightweight password manager app
{% endblock %}

{% block customcss %}
    <style>
        /* Custom default button */
        .btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
            color: #333;
            text-shadow: none; /* Prevent inheritance from `body` */
        }
    </style>
{% endblock %}


{% block content %}
<main class="px-3">
  <h1>Password Manager</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <p class="lead">
    <a href="{{ url_for('login') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Login</a>
    <a href="{{ url_for('signup') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white ml-3">Signup</a>        </p>
</main>
{% endblock %}