{% extends '_base.html' %}
{% from './macros/forms.html' import render_field %}

{% block pagetitle %} 
    Sign up
{% endblock %}

{% block customcss %}
<style>
    html,
    body {
    height: 100%;
    }

    body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    }

    .form-signin {
    max-width: 330px;
    padding: 15px;
    }

    .form-signin .form-floating:focus-within {
    z-index: 2;
    }

    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

</style>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <main class="form-signin w-100 m-auto">
        <form>
            {% form.csrf_token %}
            <div class="mb-4">
                <span>
                <i class="fas fa-unlock-alt fa-2x"></i>
                <i class="fas fa-key" style="margin-left: -5px; font-size: small;"></i>
                </span>
            </div>
            <h1 class="h3 mb-3 fw-normal">Please sign up for a new account</h1>

            {{ render_field(form.useremail) }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm_password) }}

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2022</p>
        </form>
        </main>
    </div>
{% endblock %}